/* The code below centers the text of all h1's on the page. */
h1 {
    text-align:center;
}

/* The code below centers all images on the page and gives them a width of 400px. */



body {
  background-color: #01bc01;
  color: #660505;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:400px;
}

/* The code below centers the text of all h2's on the page. */
h2 {
    text-align:center;
}

/* The code below aligns all the sections horizontally on the bottom. */
.section-container {
    display:flex;
    justify-content:space-between;
}

/* The code below a solid black border to section and puts space between them (the margin). */
.section {
  border: 5px;
  border-style: solid;
  border-color: black;
  padding: 20px;
  border-radius: 25px;
}

p {
  font-size: 30px;
}

.img {
  border: 6px solid black;
  border-style: double;
  border-radius: 25px;
}
.image-container {
  display: flex;
  justify-content: space-around;
}

.list-item{
  font-size: 30px;
}

.button {
  border-radius: 25px;
  background-color: red;
}

.vid {
  border: 6px;
  border-radius: 25px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  
}