/* The code below centers the text of all h1's on the page. */
h1 {
    text-align:center;
}

/* The code below centers all images on the page and gives them a width of 400px. */

body {
  background-color: green;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:400px;
}

/* The code below centers the text of all h2's on the page. */
h2 {
    text-align:center;
}

/* The code below aligns all the sections horizontally on the bottom. */
.section-container {
    display:flex;
    justify-content:space-between;
}

/* The code below a solid black border to section and puts space between them (the margin). */
.section {
    border: 5px black solid;
    margin:5px;
  width: 400px;
}

p {
  font-size: 30px
}

.img {
  border: 6px solid black;
  border-style: double;
}
.image-container {
  display: flex;
  justify-content: space-around;
}

.listed {
  font-size: 30px;
}